/* ------------ colors ------------- */

$white: #fff;
$rose: #f16d7f;
$bg-rose: #f1e4e6;
$black: #222;
$bg-grey: #f8f8f8;
$icon-grey: #e8e8e8;
$menu-grey: #6f6e6e;
$btn-grey: #e1e1e1;
$font-grey: #5d5d5d;
$font-lightgrey: #9f9f9f;

/* ------------ sizes ------------- */
$max-width: 1172px;
$paddings: 16px;

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
}
