.footer {
  background-color: $black;
  padding-top: 24px;
  padding-bottom: 24px;
  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @media (max-width: 650px) {
      flex-direction: column-reverse;
    }
  }
}
.copyright {
  color: $bg-grey;
  font-size: 16px;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  align-items: stretch;
  & svg {
    background-color: #fff;
    width: 32px;
    height: 32px;
    padding: 8px;
    fill: $black;
    transition: all 0.5s;
    &:hover {
      fill: $white;
      background-color: $rose;
    }
  }
}
